body{
    color: whitesmoke;
    background-color: black;
    font-family: monospace;
}

h1{
    color: black;
    padding: 1rem;
    background-color: aliceblue;
    text-align: center;
    font-weight: bold;
}

#nav-bar{
    text-align: center;
}

#nav-bar a{
    text-decoration: none;
    color: aliceblue;
    margin: 0.2rem;
    font-weight: bold;
}

#nav-bar a:hover{
    color: aquamarine;
}